<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://i.ytimg.com/vi/UPGEqglbKbg/maxresdefault.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->

        <input type="text" id="username" class="fadeIn second" [(ngModel)]="user.username" name="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" [(ngModel)]="user.password" name="password" placeholder="password">
        <input type="text" id="firstname" class="fadeIn second" [(ngModel)]="user.firstname" name="firstname" placeholder="firstname">
        <input type="text" id="lastname" class="fadeIn third" [(ngModel)]="user.lastname" name="lastname" placeholder="lastname">
        <input type="submit" class="fadeIn fourth" (click)="RegisterFuntion()" value="Register" style="background-color: #C995C1;">
        <a class="underlineHover" href="/account/login">Back</a>




    </div>
</div>